
$assetsBase: "/";

$medium-breakpoint: 600px;
$large-breakpoint: 1000px;

$color-primary: #8d67ee;

@mixin forMedium {
    @media screen and (min-width: $medium-breakpoint) { @content; }
}

@mixin forLarge {
    @media screen and (min-width: $large-breakpoint) { @content; }
}
