.search-form {
    padding: 15px 0px;
    position: sticky;
    top: 0px;
    background: white;

    &--close {
        position: absolute;
        right: 10px;
        top: 40px;
        cursor: pointer;

        .close-icon {
            width: 2rem;

        }
    }
}